{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="section-content padding-y" style="min-height: 60vh;">
    <div class="card mx-auto" style="max-width: 420px; margin-top:60px;">
        <div class="card-body">
            <h4 class="card-title mb-4">{% trans "Set a new password" %}</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">{% trans "Update password" %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
