{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded" alt="{% trans 'Store banner' %}">
        </div>
    </div>
</section>

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">{% trans "See all" %}</a>
            <h3 class="section-title">{% trans "Popular products" %}</h3>
        </header>

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap">
                        {% if product.main_image %}
                        <img src="{{ product.main_image.url }}" alt="{{ product.product_name }}">
                        {% else %}
                        <img src="{% static 'images/no-image.png' %}" alt="{% trans 'No image available' %}">
                        {% endif %}
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                        <div class="price mt-1">${{ product.effective_price }}</div>
                    </figcaption>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
