{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% if not cart_items %}
        <h2 class="text-center">{% trans "No item in cart" %}</h2>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-primary">{% trans "Continue Shopping" %}</a>
        </div>
        {% else %}
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">{% trans "Product" %}</th>
                                <th scope="col" width="120">{% trans "Quantity" %}</th>
                                <th scope="col" width="120">{% trans "Price" %}</th>
                                <th scope="col" class="text-right" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside">
                                            {% if cart_item.product.main_image %}
                                            <img src="{{ cart_item.product.main_image.url }}" class="img-sm" alt="{{ cart_item.product.product_name }}">
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-sm" alt="{% trans 'No image available' %}">
                                            {% endif %}
                                        </div>
                                        <figcaption class="info">
                                            <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                            <p class="text-muted small">
                                                {% for item in cart_item.variations.all %}
                                                {{ item.variation_category.display_name }}: {{ item.variation_value|capfirst }}<br>
                                                {% endfor %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button"><i class="fa fa-minus"></i></a>
                                            </div>
                                            <input type="text" class="form-control" value="{{ cart_item.quantity }}">
                                            <div class="input-group-append">
                                                <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    {% for item in cart_item.variations.all %}
                                                    <input type="hidden" name="{{ item.variation_category.name|lower }}" value="{{ item.variation_value|capfirst }}">
                                                    {% endfor %}
                                                    <button class="btn btn-light" type="submit"><i class="fa fa-plus"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ cart_item.sub_total }}</var>
                                        <small class="text-muted">${{ cart_item.product.effective_price }} {% trans "each" %}</small>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure to remove the item?')" class="btn btn-danger">{% trans "Remove" %}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>{% trans "Subtotal" %}:</dt>
                            <dd class="text-right">${{ subtotal }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>{% trans "Tax" %}:</dt>
                            <dd class="text-right">${{ tax }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>{% trans "Total" %}:</dt>
                            <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static 'images/misc/payments.png' %}" height="26" alt="{% trans 'Payments' %}">
                        </p>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">{% trans "Checkout" %}</a>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">{% trans "Continue Shopping" %}</a>
                    </div>
                </div>
            </aside>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
