{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <h3>{% trans "Order Submitted" %}</h3>
                <p class="mb-0">{% trans "Your order has been placed and is being processed." %}</p>
                <a href="{% url 'account_orders' %}" class="btn btn-primary mt-3">{% trans "View Orders" %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
